:root {
  --ds-radius-sm: 6px;
  --ds-radius-md: 10px;
  --ds-radius-lg: 14px;
  --ds-gap: 8px;

  --ds-bg: #ffffff;
  --ds-fg: #111827;
  --ds-border: #e5e7eb;

  --ds-primary: #2563eb; 			/* indigo-600 */
  --ds-primary-700: #1d4ed8;
  --ds-primary-100: #dbeafe;

  --ds-secondary: #0ea5e9; 			/* sky-500 */
  --ds-secondary-700: #0284c7;
  --ds-secondary-100: #e0f2fe;

  --ds-danger: #ef4444; 			/* red-500 */
  --ds-danger-700: #dc2626;

  --ring: #60a5fa;
}